
    <div  class="container" style="margin: auto;">
    <div class="company">
      <div class="img">
        <img src="https://kathlehoelevators.com/images/resource/about-img-1.jpg" alt="" />
      </div>
      <div class="company-info">
        <span> <span class="our">ShopEase</span></span>
        <p>
          <b>ShopEase</b> At ShopEase, we believe that shopping should be simple, efficient, and enjoyable. Whether you're looking for the latest fashion, cutting-edge technology, or everyday essentials, we've got you covered. Our platform is designed to bring convenience and variety right to your fingertips, making online shopping easier than ever.

          Our Mission
          Our mission is to provide a user-friendly, secure, and reliable shopping experience that caters to the needs of every customer. We are dedicated to offering a vast range of quality products at competitive prices, all while ensuring the highest standards of service.
        </p>
      </div>
    </div>
    <div class="divs">
        <div class="con col-lg-3">
            <div class="about_content_box_all mt-3">
                <div class="about_detail text-center">
                    <div class="about_icon">
                    </div>
                    <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Wide Selection</h5>
                    <p class="edu_desc mt-3 mb-0 text-muted"> From fashion and beauty to electronics and home essentials, ShopEase offers a broad array of products that fit your lifestyle. </p>
                </div>
            </div>
        </div>

        <div class="con col-lg-3">
            <div class="about_content_box_all mt-3">
                <div class="about_detail text-center">
                    <div class="about_icon">
                    </div>
                    <h5 class="text-dark text-capitalize mt-3 font-weight-bold">fast & Secure Checkout</h5>
                    <p class="edu_desc mb-0 mt-3 text-muted">With multiple payment options and robust security measures, you can shop with peace of mind. </p>
                </div>
            </div>
        </div>

        <div class="con col-lg-3" >
            <div class="about_content_box_all mt-3">
                <div class="about_detail text-center">
                    <div class="about_icon">
                    </div>
                    <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Fast Delivery </h5>
                    <p class="edu_desc mb-0 mt-3 text-muted"> We strive to deliver your products in the quickest possible time, ensuring a hassle-free experience. </p>
                </div>
            </div>
        </div>
        </div>
    </div>
