
    <div  class="container" style="margin: auto;">
    <div class="company">
      <div class="img">
        <img src="https://kathlehoelevators.com/images/resource/about-img-1.jpg" alt="" />
      </div>
      <div class="company-info">
        <span>E- <span class="our">Commerce</span></span>
        <p>
          <b>Pico</b> is a India-based website dedicated for sharing stock photography under the Pico license. Pico allows
          photographers to upload photos to its website, which are then curated by a team of photo editors. In Pico we are
          aspiring to be one of the largest photography suppliers on the internet.
        </p>
      </div>
    </div>
    <div class="divs">
        <div class="con col-lg-3">
            <div class="about_content_box_all mt-3">
                <div class="about_detail text-center">
                    <div class="about_icon">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                    <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Creative Design</h5>
                    <p class="edu_desc mt-3 mb-0 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>
        </div>

        <div class="con col-lg-3">
            <div class="about_content_box_all mt-3">
                <div class="about_detail text-center">
                    <div class="about_icon">
                        <i class="fa fa-angellist"></i>
                    </div>
                    <h5 class="text-dark text-capitalize mt-3 font-weight-bold">We make Best Result</h5>
                    <p class="edu_desc mb-0 mt-3 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>
        </div>

        <div class="con col-lg-3" >
            <div class="about_content_box_all mt-3">
                <div class="about_detail text-center">
                    <div class="about_icon">
                        <i class="fa fa-paper-plane"></i>
                    </div>
                    <h5 class="text-dark text-capitalize mt-3 font-weight-bold">best platform </h5>
                    <p class="edu_desc mb-0 mt-3 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
            </div>
        </div>
        </div>
    </div>
