<div class="container my-5">
  <section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{items.length}} items</h6>
                    </div>
                    <hr class="my-4">
                    @for(item of items; track $index){
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img [src]="item.images" class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{item.title}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button data-mdb-button-init data-mdb-ripple-init (click)="decreaseQuantity(item)"
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fa fa-minus"></i>
                        </button>

                        <input id="form" min="1" name="quantity" [value]="item.quantity" type="number"
                          class="form-control form-control-sm inputWidth" />

                        <button data-mdb-button-init data-mdb-ripple-init (click)="increaseQuantity(item)"
                          class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">€ {{item.price}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <button class="text-muted" (click)="removeFromCart(item.id)"><i
                            class="fa fa-times"></i></button>
                      </div>
                    </div>

                    <hr class="my-4">



                    }@empty{
                    <h1>no items at cart</h1>
                    }

                    <div class="pt-5">
                      <h6 class="mb-0"><a routerLink="" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-body-tertiary">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Total quantity: {{getTotalQuantity()}}</h5>
                      <h5>€ {{getTotalPrice()}}</h5>
                    </div>

                    <h5 class="text-uppercase mb-3">Shipping</h5>

                    <div class="mb-4 pb-2">
                      <select data-mdb-select-init>
                        <option value="1">Standard-Delivery- €15.00</option>

                      </select>
                    </div>



                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total quantity: {{getTotalQuantity()}}</h5>
                      <h5>€ {{getTotalPrice()+15}}</h5>
                    </div>
                    <a [routerLink]=" checkItems()">
                      <button type="button" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Proceed to Buy</button>

                    </a>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
