<!-- start slider -->
<div class="slider mb-5">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="assets/slider1.jpg" class="d-block w-100" alt="slider">
        <div class="carousel-caption d-block">
          <h1 class="text-white">Sports</h1>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/slider2.jpg" class="d-block w-100" alt="slider">
        <div class="carousel-caption d-block">
          <h1 class="text-white">Technology</h1>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="assets/slider3.jpg" class="d-block w-100" alt="slider">
        <div class="carousel-caption  d-block">
          <h1 class="text-white">Clothes</h1>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end slider -->
<!-- start digital -->

<div class="digital my-5 py-5 container">
  <div class="row row-cols-1 row-cols-md-2 mt-5 g-4">
    <div class="col-lg-6 col-md-12 d-flex">
      <div class="card  me-3 earphone">
        <img src="assets/Mask-Group-5-1.png" class="card-img " alt="EARPHONE">
        <div class="card-body">
          <p class="card-title">Enjoy</p>
          <h4>With</h4>
          <h2>EARPHONE</h2>
          <button class="btn">Browse</button>
        </div>
      </div>
      <div class="card ms-3 gadgets">
        <img src="assets/clay-apple-watch-mockup-07.png" class="card-img" alt="GADGETS">
        <div class="card-body">
          <p class="card-title">New</p>
          <h4>Wear</h4>
          <h2>GADGETS</h2>
          <button class="btn">Browse</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card  laptop">
        <img src="assets/Laptop.png" class="card-img" alt="LAPTOP">
        <div class="card-body">
          <p class="card-title">Trend</p>
          <h4>Devices</h4>
          <h2>LAPTOP</h2>
          <button class="btn">Browse</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card console">
        <img src="assets/NicePng_ps4-png_193822.png" class="card-img" alt="...">
        <div class="card-body">
          <p class="card-title">Best</p>
          <h4>Gaming</h4>
          <h2> CONSOLE </h2>
          <button class="btn">Browse</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 d-flex">
      <div class="card  me-3 oculus">
        <img src="assets/man-wearing-virtual-reality-headset-at-home-D7AYCTV-2.png" class="card-img" alt="...">
        <div class="card-body">
          <p class="card-title">Play</p>
          <h4>Game</h4>
          <h2> OCULUS </h2>
          <button class="btn ">Browse</button>
        </div>
      </div>
      <div class="card ms-3 speaker">
        <img src="assets/P6YUXW1.png" class="card-img" alt="...">
        <div class="card-body">
          <p class="card-title">New</p>
          <h4>Amazon</h4>
          <h2>SPEAKER</h2>
          <button class="btn">Browse</button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- end digital -->
<!-- start about -->
<div class="about my-5 py-5">
  <div class="container my-5">
    <div class="about-text">
      <h6>About Us</h6>
      <h2 class="my-4">If you're looking for a brand new technology to power your life, you're in the right place
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
      </p>
    </div>
  </div>
</div>
<!-- end about -->

<!-- start group of image -->
<div class="first-card container my-5 py-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/card1.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/card3.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/card2.jpg" class="card-img-top" alt="...">
      </div>
    </div>

  </div>
</div>
<!-- end group of image -->
<!-- start hedphone -->
<div class="headphone">
  <div class="container">
    <div class="headphone-card">
      <img src="assets/headphone.png" class="" alt="headphone">
      <div class="headphone-text">
        <p class="">Headphone</p>
        <h5 class=" my-3">Wireless Bluetooth Headphone</h5>
        <p class="">$299</p>
      </div>
    </div>
  </div>

</div>
<!-- end headphone -->


<!-- start card scotter -->
<div class="container">
  <div class="card bg-light-blue my-5">
    <img src="assets/scooter-01.png" class="card-img " alt="scoter">
    <div class="card-img-overlay">
      <h1 class="elementor-heading-title elementor-size-default">Libero X250</h1>
      <h4 class="elementor-heading-title elementor-size-default">250 Watt Electric Scooter</h4>
      <h5 class="card-title">Information:</h5>
      <div class="properties">
        <div>
          <h3>30 </h3>
          <h3>km</h3> <span>BATTERY</span>
        </div>
        <div>
          <h3>13.5</h3>
          <h3> kg</h3> <span>WEIGHT</span>
        </div>
        <div>
          <h3>25 </h3>
          <h3>km/h</h3> <span>SPEED</span>
        </div>
      </div>
      <div class="description">
        <h3 class="card-title text-center">Description:</h3>
        <p class="card-text text-muted text-center px-5 ">The Fully Loaded Libero x250 is a High Performance, Extremely
          Durable, High Speed, Lightweight Electric Scooter
          with a Huge Battery

        </p>
      </div>
    </div>
  </div>
</div>
<!-- end card scotter -->

<!-- start offer -->
<div class=" offer my-5 py-2 container ">
  <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
    <div class="col">
      <div class="card px-3">
        <img src="assets/card5.jpg" class="card-img-top" alt="offer">
      </div>
    </div>
    <div class="col">
      <div class="card px-3">
        <img src="assets/card4.jpg" class="card-img-top" alt="offer">
      </div>
    </div>
  </div>
</div>

<!-- end offer -->
