<footer class="text-light text-center py-4 contain">
  <div class="shape"></div>
  <div class="container ">
    
    <div class="row">
      <div class="col-12 col-md-4 mb-4">
        <button type="button" class="my-4 px-5 btn btn-outline-light"><a routerLink="/contact">Contact Us</a></button>
        <ul class="list-unstyled">
        </ul>
      </div>

      <div class="col-12 col-md-4 mb-4">
      </div>

      <div class="col-12 col-md-4">
        <div class="social-icons my-4">
          <a href="https://www.facebook.com" class="text-light mx-2" target="_blank">
            <i class="fa fa-facebook fa-2x"></i>
          </a>
          <a href="https://www.instagram.com" class="text-light mx-2" target="_blank">
            <i class="fa fa-instagram fa-2x"></i>
          </a>
          <a href="https://www.linkedin.com" class="text-light mx-2" target="_blank">
            <i class="fa fa-linkedin fa-2x"></i>
          </a>
        </div>
        <p class="mt-4">&copy; 2024 Iti Mean Stack. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

